@model IEnumerable<Attendance_Tracker.Models.Attendance>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Enrollment.Student.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollment.Course.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Present)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttendanceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mark)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Enrollment.Student.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Enrollment.Course.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Present)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AttendanceDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mark)
                </td>

                @if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.AttendanceId" class="btn btn-primary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.AttendanceId" class="btn btn-info">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.AttendanceId" class="btn btn-danger">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>